:root { 
--white_A700_7f:#ffffff7f; 
--deep_orange_50:#fdeae7; 
--blue_A400_01:#1877f2; 
--deep_purple_900:#1f0d8c; 
--red_600:#ea3f28; 
--blue_A400:#2072f3; 
--pink_900:#8c0d51; 
--red_900:#a82210; 
--red_500:#ea4335; 
--blue_A200:#4285f4; 
--light_blue_400:#18bffb; 
--red_600_33:#eb402833; 
--green_600:#34a853; 
--light_blue_900:#0058aa; 
--gray_50:#f5f3ff; 
--red_50:#fde7f3; 
--pink_400_01:#eb2891; 
--green_A700:#00a424; 
--black_900:#000000; 
--blue_gray_800:#35485c; 
--light_blue_A700:#0084ff; 
--deep_purple_A400:#4328ea; 
--light_blue_A700_33:#0084ff33; 
--pink_400:#ea2891; 
--gray_500:#a4a4a4; 
--gray_900_87:#17202687; 
--amber_500:#fbbc05; 
--white_A700_a2:#ffffffa2; 
--gray_900:#172026; 
--blue_gray_500:#5f7795; 
--green_50:#dbfbdc; 
--blue_50:#e3f1ff; 
--pink_400_33:#eb289133; 
--gray_100:#f4f7fa; 
--gray_900_7f:#1720267f; 
--white_A700:#ffffff; 
}